:root,
:root.light {
  --bg-gray: #383838;
  --bg-gray-dark: #262626;
  --bg-gray-light: #727272;
  --bg-metal: #8d8d8d;
  --white: #fff;
  --focus: #fe762b;
  --light: #fdc226;
  --cover: #e95354;
  --cover-shadow-light: #ee8586;
  --cover-shadow-dark: #a43a3c;
  --body: rgb(27, 109, 109);
}

:root.dark {
  --bg-gray: #222222;
  --bg-gray-dark: #161616;
  --bg-gray-light: #363636;
  --bg-metal: #2c2c2c;
  --white: rgb(43, 43, 43);
  --focus: #6b6b6b;
  --light: transparent;
  --cover: #291010;
  --cover-shadow-light: #352424;
  --cover-shadow-dark: #2b1d1d;
  --body: rgb(33, 58, 58);
}

body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--body);
  position: relative;
  overflow: hidden;
}

.lamp {
  height: 400px;
  width: 400px;
  position: relative;
  margin: 40px 0 0 80px;
}

.main {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  margin: 2px 0 0 22px;
  position: relative;
}

.main .focus {
  width: 20px;
  height: 40px;
  background-color: var(--focus);
  border-radius: 40px 0 0 40px;
  border: 15px solid var(--light);
  border-right: none;
}

.main .cover {
  width: 100px;
  height: 200px;
  background-color: var(--cover);
  border-radius: 0 200px 200px 0;
  overflow: hidden;
  position: relative;
}

.main .light {
  background-color: var(--light);
  width: 40px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
}

.main .light1 {
  top: 40px;
  left: -10px;
  transform: rotate(45deg);
}
.main .light2 {
  left: -30px;
}
.main .light3 {
  left: -10px;
  bottom: 40px;
  transform: rotate(-45deg);
}

.shadow1 {
  background-color: var(--cover-shadow-light);
  width: 200px;
  height: 150px;
  border-radius: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 0;
  overflow: hidden;
}

.shadow2 {
  background-color: var(--cover-shadow-dark);
  width: 100px;
  height: 100px;
  margin-top: 100px;
}
.shadow3 {
  width: 200px;
  height: 150px;
  border-radius: 80%;
  background-color: var(--cover);
  margin: 10px -20px 0 0;
  transform: rotate(5deg);
}

.bra {
  position: absolute;
  right: -33px;
  width: 80px;
  height: 60px;
  overflow: hidden;
}

.containerBra {
  position: relative;
}

.bra1 {
  position: absolute;
  width: 70px;
  height: 60px;
  background-color: var(--bg-gray);
  border-radius: 0 60px 60px 0;
  right: 0;
  overflow: hidden;
}

.bra1Shadow {
  background-color: var(--bg-gray-light);
  width: 75px;
  height: 60px;
  margin-top: 10px;
  border-radius: 0 60px 60px 0;
}

.bra1Aux {
  background-color: var(--bg-gray);
  margin: -50px 0 0 0;
  height: 40px;
  width: 70px;
  border-radius: 0 60px 60px 0;
}

.bra2 {
  position: absolute;
  width: 10px;
  height: 60px;
  top: 0;
  left: 5px;
  margin: auto 0;
  background-color: var(--bg-gray);
  border-radius: 50%;
  overflow: hidden;
}

.bra2Shadow {
  background-color: var(--bg-gray-light);
  width: 10px;
  height: 10px;
  margin-top: 10px;
}

.braShadow {
  margin-top: 8px;
  right: -33px;
  transform: scale(1.05);
}

.braShadow .containerBra .bra1,
.braShadow .containerBra .bra2 {
  background-color: var(--bg-gray-dark);
}

.bodyFirst {
  background-color: transparent;
  width: 15px;
  height: 170px;
  border: 10px solid var(--bg-metal);
  border-bottom: none;
  border-top: none;
  transform: rotate(-45deg);
  position: absolute;
  top: 38px;
  right: 111px;
}

.hinge {
  background-color: var(--bg-gray-dark);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  bottom: 170px;
  right: 32.5px;
  box-shadow: var(--bg-metal) -5px 0 0 0;
  overflow: hidden;
}
.hinge::after {
  content: "";
  background-color: var(--white);
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}
.hingeShadow {
  background-color: var(--bg-gray);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  right: 8px;
}

.bodySecond {
  background-color: transparent;
  width: 15px;
  height: 200px;
  border: 10px solid var(--bg-metal);
  border-bottom: none;
  border-top: none;
  transform: rotate(20deg);
  position: absolute;
  bottom: 18px;
  right: 80px;
}

.base {
  background-color: var(--bg-gray);
  width: 180px;
  height: 30px;
  position: absolute;
  border-radius: 20px 20px 0 0;
  right: 35px;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.baseShadow {
  width: 104px;
  height: 40px;
  background-color: var(--bg-gray);
  border-left: var(--bg-gray-light) 25px solid;
  border-right: var(--bg-gray-dark) 25px solid;
  border-radius: 20px 20px 0 0;
}

.baseShadow::after {
  content: "";
  position: absolute;
  width: 134px;
  height: 30px;
  border-radius: 20px 20px 0 0;
  background-color: var(--bg-gray);
  right: 10px;
}

.controls {
  width: 20px;
  height: 10px;
  position: absolute;
  bottom: 30px;
  right: 70px;
  overflow: hidden;
}

.containerButtons {
  background-color: var(--bg-gray-dark);
  width: 20px;
  height: 2px;
  border-radius: 2px 2px 0 0;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

button {
  width: 16px;
  height: 10px;
  background-color: var(--bg-gray);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 2px;
}

.shade {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: rgba(253, 194, 38, 0.8);
  position: absolute;
  top: 130px;
  right: calc((100vw - 400px) / 2 + 80px);
  filter: blur(30px);
  box-shadow: 0 0 50px rgba(253, 194, 38, 0.1),
    0 0 100px rgba(253, 196, 38, 0.582), 0 0 150px #fdc226, 0 0 200px #fdc226,
    0 0 250px #fdc226, 0 0 300px #fdc226;
}
