:root {
  --bg-gray: #383838;
  --bg-gray-light: #727272;
  --bg-metal: #8d8d8d;
}

body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}

.lamp {
  height: 400px;
  width: 400px;
  border: 1px solid red;
  position: relative;
}

.main {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  margin: 2px 0 0 22px;
  position: relative;
}

.main .focus {
  width: 20px;
  height: 40px;
  background-color: #fe762b;
  border-radius: 40px 0 0 40px;
  border: 15px solid #fdc226;
  border-right: none;
}

.main .cover {
  width: 100px;
  height: 200px;
  background-color: #e95354;
  border-radius: 0 200px 200px 0;
  overflow: hidden;
  position: relative;
}

.main .light {
  background-color: #fdc226;
  width: 40px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
}

.main .light1 {
  top: 40px;
  left: -10px;
  transform: rotate(45deg);
}
.main .light2 {
  left: -30px;
}
.main .light3 {
  left: -10px;
  bottom: 40px;
  transform: rotate(-45deg);
}

.shadow1 {
  background-color: #ee8586;
  width: 200px;
  height: 150px;
  border-radius: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 0;
  overflow: hidden;
}

.shadow2 {
  background-color: #a43a3c;
  width: 100px;
  height: 100px;
  margin-top: 100px;
}
.shadow3 {
  width: 200px;
  height: 150px;
  border-radius: 80%;
  background-color: #e95354;
  margin: 10px -20px 0 0;
  transform: rotate(5deg);
}

.bra {
  position: absolute;
  right: -33px;
  width: 80px;
  height: 60px;
  overflow: hidden;
}

.containerBra {
  position: relative;
}

.bra1 {
  position: absolute;
  width: 70px;
  height: 60px;
  background-color: var(--bg-gray);
  border-radius: 0 60px 60px 0;
  right: 0;
  overflow: hidden;
}

.bra1Shadow {
  background-color: var(--bg-gray-light);
  width: 75px;
  height: 60px;
  margin-top: 10px;
  border-radius: 0 60px 60px 0;
}

.bra1Aux {
  background-color: var(--bg-gray);
  margin: -50px 0 0 0;
  height: 40px;
  width: 70px;
  border-radius: 0 60px 60px 0;
}

.bra2 {
  position: absolute;
  width: 10px;
  height: 60px;
  top: 0;
  left: 5px;
  margin: auto 0;
  background-color: var(--bg-gray);
  border-radius: 50%;
  overflow: hidden;
}

.bra2Shadow {
  background-color: var(--bg-gray-light);
  width: 10px;
  height: 10px;
  margin-top: 10px;
}

.braShadow {
  margin-top: 8px;
  right: -33px;
  transform: scale(1.05);
}

.braShadow .containerBra .bra1,
.braShadow .containerBra .bra2 {
  background-color: #262626;
}

.bodyFirst {
  background-color: transparent;
  width: 15px;
  height: 170px;
  border: 10px solid var(--bg-metal);
  border-bottom: none;
  border-top: none;
  transform: rotate(-45deg);
  position: absolute;
  top: 38px;
  right: 111px;
}
